@font-face {
          font-family: libreFranklin;
          src: url(../fonts/libreFranklin/LibreFranklin-Medium.ttf);
    }
    h1 {
    text-align: center;
    font-family: libreFranklin;
    font-size: 3rem;
    height: 15vh;
    margin: 6vh 0;
    }
    form > div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;

        margin-top: 3vh;
        width: 61.8vw;
        margin-left: 19.1vw;
        align-items: center;
    }
    input[type=file] {
        background-color: #49a9fc;
        font-size: 1.3rem;
        border-radius: 9px;
        padding: .6vw;
        width: 60%;
    }
    button.submit {
        border: none;
        border-radius: 2px;
        color: white;
        background-color: #49a9fc;
        padding: .6vw;
        margin: 3vw 37.5%;
        width: 25%;
        font-size: 1.8rem;
    }
    button.submit:hover {
        cursor: pointer;
    }
    input[type=file]:hover {
        cursor: pointer;
    }
    label {
        font-size: 1.3rem;
        float: left;
        padding: 1vw;
        width: 30%;
        font-family: sans;
        text-align: right;
        margin-right: 3%;
    }
    form > * {
        display: inline-block;
        margin: 3vw;
    }

    /* about the video: */
    video:not(.preview) {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    video.preview {
        margin: 10vh;
        display: block;
        height: 80vh;
        position
    }
    audio {
        display: hidden;
    }